<app-sidebar></app-sidebar>

<div class="border-bottom mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Configuracion</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los cupones.</p>

  </div>
</div>

<form #updateForm="ngForm" (ngSubmit)="updateConfig(updateForm)">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Configuraciones</h5>
    </div>

    <div class="card-body">
      <div style="max-width: 48rem;">
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Nombre de la tienda</label>
          <div class="col-md-9">
            <input class="form-control" type="text" id="text-input" placeholder="Tu tienda" required name="titulo"
              [(ngModel)]="config.titulo">
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Facturación</label>
          <div class="col-md-4">
            <input class="form-control" type="text" id="text-input" required value="" placeholder="Serie" name="serie"
              [(ngModel)]="config.serie">
          </div>
          <div class="col-md-5">
            <input class="form-control" type="text" id="text-input" required value="" name="correlativo"
              placeholder="Correlativo" [(ngModel)]="config.correlativo">
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Categorías</label>
          <div class="col-md-4">
            <input class="form-control" type="text" id="text-input" placeholder="Titulo" name="titulo_cat"
              [(ngModel)]="titulo_cat">
          </div>
          <div class="col-md-5">
            <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeCategoria($event)">
            <label class="custom-file-label" id="input-portada" style="white-space: nowrap; overflow: hidden;"
              for="file-input">Seleccionar imagen</label>
          </div>
          <div class="col-md-3">

          </div>

          <div class="col-md-9">
            <a style="cursor: pointer;" (click)="agregar_cat()" class="mb-5">Agregar</a>

            <div class="table-responsive mt-3">
              <table class="table table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th class="pl-3">Categoria</th>
                    <th>Imagen</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <ng-container *ngIf="categorias.length == 0">
                  <tbody>
                    <tr>
                      <td colspan="2" class="text-center">
                        <span class="text-muted "> No hay categorias disponibles</span>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>

                <ng-container *ngIf="categorias.length > 0">
                  <tbody *ngFor="let item of categorias; let indice = index">
                    <tr>
                      <td class="pl-3">
                        {{item.titulo}}
                      </td>
                      <td>
                        <img width="100" [src]="item.icono" alt="">
                      </td>
                      <td>
                        <a style="cursor: pointer;" (click)="eliminar_categoria(indice)"
                          class="text-danger">[ELiminar]</a>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="cs-file-drop-area">
            <div class="cs-file-drop-preview img-thumbnail rounded">
              <img [src]="imgInicial" alt="">
            </div>
            <span class="cs-file-drop-message">Arrastre la imagen</span>
            <input type="file" class="cs-file-drop-input" (change)="fileChangeEvent($event)">
            <button type="file" class="cs-file-drop-btn btn btn-outline-primary btn-sm">Subir imagen</button>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button class="btn btn-primary mr-3">Guardar cambios</button>
    </div>
  </div>

</form>
