<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Cupones</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los cupones de la tienda.</p>
    <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap"
        [routerLink]="['/admin/cupones/registro']">Registrar nuevo<i
          class="cxi-angle-right font-size-base align-middle ml-1"></i></a></p>
  </div>
</div>

<div class="card box-shadow-sm">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <input class="form-control" type="text" id="inline-form-input-username" name="filtro" (keyup)="filtrar()"
            [(ngModel)]="filtro_codigo" placeholder="Filtrar por codigo">
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table ">
        <thead class="thead-dark">
          <tr>
            <th>Codigo</th>
            <th>Tipo</th>
            <th>valor</th>
            <th>limite</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody *ngIf="load_data">
          <tr>
            <td class="text-center" colspan="5">
              <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </td>
          </tr>
        </tbody>
        <ng-container *ngIf="!load_data">
          <tbody *ngFor="let item of cupones | slice: (page-1)* pageSize:(page-1)*pageSize + pageSize; let i=index">
            <tr>
              <td>{{item.codigo}}</td>
              <td>{{item.tipo}}</td>
              <td>{{item.valor}}</td>
              <td>{{item.limite}}</td>
              <td>
                <div class="btn-group dropdown d-inline-block mb-3 me-2">
                  <a class="btn btn-outline-secondary dropdown-toggle btn-sm show" href="#" role="button"
                    data-toggle="dropdown" aria-expanded="true">
                    Opciones
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/admin/cupones/',item._id]"
                      routerLinkActive="router-link-active">Editar</a>

                    <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal"
                      [attr.data-target]="'#delete-'+item._id">Eliminar</a>
                  </div>
                  <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Confirmacion de eliminación</h4>
                          <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">
                          <p class="fs-sm">{{item.titulo}},¿Desea eliminar este Producto?</p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                          <button *ngIf="!load_btn" class="btn btn-primary btn-sm" (click)="eliminar(item._id)"
                            type="button">Si,
                            eliminar</button>
                          <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                            <span class="spinner-border spinner-border-sm me-2 mr-3" role="status"
                              aria-hidden="true"></span>
                            Eliminando...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </ng-container>

      </table>
    </div>
  </div>
  <div class="card-footer">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="cupones.length"></ngb-pagination>
  </div>
</div>
