<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los cupones.</p>

  </div>
</div>
<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Registro de cliente</h5>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-3 form-group">
          <label for="validationCustom01" class="form-label">Codigo del cupon</label>
          <input class="form-control" type="text" placeholder="Nombres" name="nombres" [(ngModel)]="cupon.codigo"
            required>
        </div>

        <div class=" col-lg-3 col-md-6 ">
          <label for="validationCustom01" class="form-label">Tipo</label>
          <select class="form-control custom-select" name="tipo" [(ngModel)]="cupon.tipo">
            <option value="" disabled selected>Seleccionar</option>
            <option value="Porcentaje">Porcentaje</option>
            <option value="Valor fijo">Valor fijo</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-6 form-group">
          <label for="validationCustom01" class="form-label">Valor</label>
          <input class="form-control" type="text" placeholder="Valor del descuento" name="valor"
            [(ngModel)]="cupon.valor" required>
        </div>
        <div class="col-lg-3 col-md-6 form-group">
          <label for="validationCustom01" class="form-label">Limite</label>
          <input class="form-control" type="text" placeholder="Limite maximo" name="limite" [(ngModel)]="cupon.limite"
            required>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <button *ngIf="!load_btn" class="btn btn-primary me-2 mr-3" type="submit">Crear cupon</button>
      <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
        <span class="spinner-border spinner-border-sm me-2 mr-3" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <button class="btn btn-warning" [routerLink]="['/admin/cupones']">Regresar</button>
    </div>
  </div>
</form>
