<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Reseñas</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista las reseñas del producto.</p>
    <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap"
        [routerLink]="['/admin/productos']">Regresar<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
    </p>
  </div>
</div>

<ng-container *ngIf="producto">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Reseñas de {{producto.titulo}}</h5>
    </div>


    <div class="card-header">
      <div class="row">
        <div class="col-12">

        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-5">
        <div class="col-10">
          <div class="row">
            <div class="col-md-4 " style="padding-right: 0px">
              <img [src]="url+'get_portada_admin/'+producto.portada" class="img-thumbnail rounded-0" alt="Square image">
            </div>
            <div class="col-md-8" style="padding-left: 0px">
              <div class="card" style="height: 100%; background: #f5eeee;">
                <div class="card-body">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a class="nav-link ">{{producto.titulo}}</a>
                    <p class="text-muted mt-3">{{producto.descripcion}}</p>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block mb-0 text-danger">${{producto.precio}}</span>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ng-container *ngIf="!load_data && reviews.length >=1">
          <div class="mb-4 pb-4 border-bottom" *ngFor="let item of reviews | paginate: { itemsPerPage: pageSize, currentPage: page }">
            <div class="row">
              <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                <h3 class="mb-2 font-size-lg">{{item.cliente.nombre}} {{item.cliente.apellidos}}</h3>
                <span class="d-block mb-3 fs-sm text-muted">{{item.createdAt | date}}</span>
                <div class="mt-n1 star-rating">
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active':item.estrellas >= 1}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active':item.estrellas >= 2}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active':item.estrellas >= 3}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active':item.estrellas >= 4}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active':item.estrellas >= 5}"></i>
                </div>
              </div>
              <div class="col">
                <p class="mb-3">
                  <a class="mr-1 font-weight-bold text-decoration-none" href="#">@{{item.cliente.email}}</a>
                  <br>
                  {{item.review}}
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <nav class="pt-1 ml-auto" aria-label="Pagination">
                <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
              </nav>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="load_data">
            <div class="col-12 text-center">
              <div class="accordion-alt" >
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </div>
            </div>
        </ng-container>
        <ng-container *ngIf="reviews == undefined">
          <div class="card-body">
            <h3 class="text-center">No se encontro reseña.</h3>
            <div class="row">
              <div class="col-3 mx-auto">
                <img src="assets/img/error404.png" alt="error404" style="width: 100%;">
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>



