<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>

  </div>
</div>
<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Registro de cliente</h5>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Nombres</label>
          <input class="form-control" type="text" placeholder="Nombres" name="nombres" [(ngModel)]="cliente.nombre"
            required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Apellidos</label>
          <input class="form-control" type="text" placeholder="Apellidos" name="apellidos"
            [(ngModel)]="cliente.apellidos" required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Correo electrónico</label>
          <input class="form-control" type="text" placeholder="Correo" name="email" [(ngModel)]="cliente.email"
            required>
        </div>

        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Telefono</label>
          <input class="form-control" type="text" placeholder="Telefono" name="telefono" [(ngModel)]="cliente.telefono"
            required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Fecha nacimiento</label>
          <input class="form-control" type="date" placeholder="fecha de nacimiento" name="f_nacimiento"
            [(ngModel)]="cliente.f_nacimiento" required>
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">DNI</label>
          <input class="form-control" type="date" placeholder="DNI" name="dni" [(ngModel)]="cliente.dni" required>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Genero</label>
          <select class="form-control custom-select" name="genero" [(ngModel)]="cliente.genero">
            <option value="" disabled selected>Seleccionar</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button *ngIf="!load_btn" class="btn btn-primary me-2 mr-3" type="submit">Crear cliente</button>
      <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
        <span class="spinner-border spinner-border-sm me-2 mr-3" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <button class="btn btn-warning" [routerLink]="['/admin/clientes']">Regresar</button>
    </div>
  </div>
</form>
