<div class="row " style="margin-top: 60px; margin-right: 70px;">
  <div class="col-lg-9 mx-auto" style="display: flex;
    align-items: center; ">
    <div class="px-md-5 px-4">
      <h3 class="modal-title mt-4 mb-0 text-center mb-5">Iniciar sesion</h3>
      <p class="font-size-sm text-muted text-center">Inicie sesión en su cuenta utilizando el correo electrónico y la
        contraseña proporcionados durante
        registro.</p>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <label for="signin-email">Correo</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="user.email" id="signin-email"
            placeholder="Correo Electronico" required="">
        </div>
        <div class="form-group">
          <label for="signin-password" class="form-label">Contraseña</label>
          <div class="cs-password-toggle input-group-overlay">
            <input type="password" class="form-control appended-form-control" id="signin-password"
              placeholder="Contraseña" name="password" [(ngModel)]="user.password" required="">
            <div class="input-group-append-overlay">
              <label class="btn cs-password-toggle-btn input-group-text">
                <input type="checkbox" class="custom-control-input">
                <i class="cxi-eye cs-password-toggle-indicator"></i>
                <span class="sr-only">Mostrar constraseña</span>
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
      </form>
    </div>
  </div>
</div>
