<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista el inventario del producto.</p>
    <p class="font-size-sm font-weight-medium pl-md-4"><a class="text-nowrap"
        [routerLink]="['/admin/productos']">Regresar<i class="cxi-angle-right font-size-base align-middle ml-1"></i></a>
    </p>
  </div>
</div>

<ng-container *ngIf="producto">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Inventario del producto {{producto.titulo}}</h5>
    </div>
    <form #invetarioForm="ngForm" (ngSubmit)="registro_inventario(invetarioForm)" class="form-inline ml-4 mt-2">
      <label class="sr-only">Cantidad</label>
      <input required type="number" class="form-control  mr-sm-4" placeholder="Cantidad" name="cantidad"
        [(ngModel)]="inventarios.cantidad" id="inventario-cantidad">

      <label class="sr-only">Proveedor</label>
      <input required type="text" class="form-control  mr-sm-4" placeholder="Proveedor" name="proveedor"
        [(ngModel)]="inventarios.proveedor" id="inventario-proveedor">

      <button class="btn btn-primary" type="submit"> Ingresar </button>
      <button class="btn ml-2" style="background: #107C41; color: white;" type="button"
        (click)="download_excel()">Exportar a
        excel</button>

    </form>

    <div class="card-header">
      <div class="row">
        <div class="col-12">

        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table ">
          <thead class="thead-dark">
            <tr>
              <th>Admin</th>
              <th>Proveedor</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>OP</th>
            </tr>
          </thead>

          <ng-container *ngIf="inventario.length == 0">
            <tbody>
              <tr>
                <td colspan="4" class="text-center">
                  <span class="text-muted"> No hay registro de inventario </span>
                </td>
              </tr>
            </tbody>
          </ng-container>

          <ng-container>
            <tbody *ngFor="let item of inventario">
              <tr>
                <td>{{item.admin.nombre}} {{item.admin.apellidos}} </td>
                <td>{{item.proveedor}}</td>
                <td class="pl-4">{{item.cantidad}}</td>
                <td>{{item.producto.precio}}</td>
                <td>
                  <button class="btn btn-danger btn-sm">
                    <i class=" text-center cxi-delete p-1" data-toggle="modal"
                      [attr.data-target]="'#delete-'+item._id"></i>
                  </button>
                  <div class="modal fade" id="delete-{{item._id}}" tabindex="-1" style="display: none;"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Confirmacion de eliminación</h4>
                          <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">
                          <p class="fs-sm">{{item.titulo}},¿Desea eliminar este registro</p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                          <button *ngIf="!load_btn" class="btn btn-primary btn-sm" (click)="eliminar(item._id)"
                            type="button">Si,
                            eliminar</button>
                          <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                            <span class="spinner-border spinner-border-sm me-2 mr-3" role="status"
                              aria-hidden="true"></span>
                            Eliminando...
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </ng-container>



        </table>
      </div>
    </div>
    <!-- <div class="card-footer">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="productos.length"></ngb-pagination>
    </div> -->
  </div>
</ng-container>


<ng-container *ngIf="producto == undefined">
  <div class="card-body">
    <h3 class="text-center">No se encontro el registro.</h3>
    <div class="row">
      <div class="col-3 mx-auto">
        <img src="assets/img/error404.png" alt="error404" style="width: 100%;">
      </div>
    </div>
  </div>
</ng-container>
